<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.id}}</td>
        <td>{{event.message}}</td>
        <td>{{event.creationDate | date}}</td>
      </tr>
      </tbody>
    </table>

    <button class="btn btn-success" (click)="exportPdf()" type="button">Export to PDF</button>
  </div>
</div>
