<div class="container">
  <div class="row mt-3">
    <div class="col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="mx-auto" style="display:table">Name</span>
          <div class="row">
            <div class="col-12">
              <mat-form-field class="example-full-width" style="width: 100%">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
            </div>
          </div>
        </li>
        <li class="list-group-item"><span class="mx-auto" style="display:table">Price</span>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-full-width" style="width: 100%">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width" style="width:100%">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
              </mat-form-field>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="list-group" *ngFor="let product of products">
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h5">{{product.name}}</h5>
            <small>3 days ago</small>
          </div>
          <div class="row">
            <div class="col-10" style="display: inline-block; border-right: 1px solid rgba(0,0,0,.125);">
              <p class="mb-2">{{product.description}}</p>
              <small>Donec id elit non mi porta.</small>
            </div>
            <div class="col-1 price-tile">
              {{product.price | currency: 'USD'}}</div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
