.md-v-line {
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, .125);
  height: 50px;
  top: 0px;
  right: 54px;
}

.price-tile {
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
