<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-expansion-panel hideToggle style="width:100%" *ngFor="let order of orders; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{order.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{order.totalCost | currency: 'USD'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let product of order.productDTOs">
          {{product.name}} {{product.price | currency: 'USD'}}
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
