<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
          <td>{{event.id}}</td>
          <td>{{event.message}}</td>
          <td>{{event.creationDate | date}}</td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-success" (click)="exportPdf()" type="button">Export to PDF</button>
   <!--   <nav aria-label="Page navigation" class="ml-auto mt-3">
        <ul class="pagination pg-blue">
          <li class="page-item ">
            <a class="page-link" tabindex="-1" *ngIf="!events.first"
               (click)="fetchEvents(0)">First</a>
          </li>
          <li class="page-item ">
            <a class="page-link" tabindex="-1" [ngClass]="{'disabled': events.first }"
               (click)="fetchEvents(events.pageable.pageNumber - 1)">Previous</a>
          </li>
          <li class="page-item" *ngIf="events.pageable.pageNumber -1 > 0">
            <a class="page-link"
               (click)="fetchEvents(events.pageable.pageNumber - 1)">{{events.pageable.pageNumber - 1 }}</a>
          </li>
          <li class="page-item" *ngIf="events.pageable.pageNumber > 0">
            <a class="page-link"
               (click)="fetchEvents(events.pageable.pageNumber - 1)">{{events.pageable.pageNumber }}</a>
          </li>
          <li class="page-item active">
            <a class="page-link">{{events.pageable.pageNumber + 1}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item" *ngIf="events.pageable.pageNumber + 1 < events.totalPages">
            <a class="page-link"
               (click)="fetchEvents(events.pageable.pageNumber + 1)">{{events.pageable.pageNumber + 2}}</a>
          </li>
          <li class="page-item" *ngIf="events.pageable.pageNumber +2 < events.totalPages">
            <a class="page-link"
               (click)="fetchEvents(events.pageable.pageNumber + 2)">{{events.pageable.pageNumber + 3}}</a>
          </li>
          <li class="page-item " [ngClass]="{'disabled': events.last }"
              (click)="fetchEvents(events.pageable.pageNumber + 1)">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>-->
    </div>
  </div>
</div>
