<div class="container">
  <div class="card">
    <div class="card-header text-center h2">
      Your address
    </div>
    <form (ngSubmit)="update()" *ngIf="address">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput type="text" [(ngModel)]="address.city" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Street</mat-label>
              <input matInput type="text" [(ngModel)]="address.street" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>House number</mat-label>
              <input matInput type="text" [(ngModel)]="address.houseNumber" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Post-code</mat-label>
              <input matInput type="text" [(ngModel)]="address.postCode" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary text-center">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
