<div class="jumbotron p-0 mt-3">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" class="img-fluid" width="100%"
         alt="Sample image">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h1 class="text-center mt-3" style="font-size:3rem">The best products on the web!</h1>

  <!-- Card content -->
  <div class="card-body text-center mb-3" >

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Closed</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Closed for maintenance</p>
    <!-- Button -->
    <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Button</a>

  </div>

</div>
