<ngb-carousel class="w-100">
  <ng-template ngbSlide *ngFor="let item of carouselInfo">
    <div class="picsum-img-wrapper">
      <img [src]="item.url" alt="Random first slide" class="w-100" style="height:700px">
    </div>
    <div class="carousel-caption" style="
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
      <h1>{{item.title}}</h1>
      <p>{{item.info}}</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="jumbotron p-0 mt-3">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>

  </div>

  <h1 class="text-center mt-3" style="font-size:3rem">The best products on the web!</h1>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Closed</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Closed for maintenance</p>
    <!-- Button -->
    <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Button</a>

  </div>

</div>
